#example1 {
    background-image: url(schack.jpg);
    background-position: left top;
    background-repeat: no-repeat;
}
#audio1 {
	width:100% !important;
       min-height: 30px;
       display:block;
}
 #block {
           height:100px;
           width: 50px;
           background: blue;
        }